<div class="start">
  <div class="clock">
    <ul>
      <li id="hours">00</li>
      <li class="separator">:</li>
      <li id="minutes">00</li>
      <li class="separator">:</li>
      <li id="seconds">00</li>
    </ul>
  </div>
  <div id="container">
    <button class="learn-more">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
      <span class="button-text" routerLink="log">Login</span>
    </button>
    <button class="learn-more">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
      <span class="button-text" routerLink="reg">Register</span>
    </button>
  </div>
</div>
